body {
    margin: 0;
}

.Tesla {
    background-image: url("Tesla.jpg");
    height: 100vh;
    /*increase to full height */
    background-size: cover;
    /*Cover full image?*/
    background-position: center;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar li {
    display: inline-block;
    margin: 0px 8px;
}

.Navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 6px 10px;
    transition: 1px;
}

.Navbar a:hover {
    background-color: rgb(131, 161, 187);
    border-radius: 3px;
}

.Links1 {
    margin-left: 130px;
}

.Title,
.Form,
.Buttons {
    text-align: center;
}

.Title h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.Title a {
    color: black;
    font-size: 20px;
}

.Form {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

.Form input {
    height: 25px;
    width: 400px;
    border: 0;
}

.Form Buttons {
    border: 0;
    font-size: 16px;
    padding: 10px;
}

.Buttons Buttons {
    border: 0;
    padding: 8px 85px;
    border-radius: 4px;
    margin: 0px 8px;
}

#Btn1 {
    background-color: rgb(23, 26, 32);
    color: white;
}

#Btn2 {
    background-color: aliceblue;
}

.btn {
    background-color: red;
    border: none;
    padding: 0px 30px;
    color: white;
}